.header {
    height: 70px;
    align-items: center;
    flex-direction: row;
    display: flex;
    box-shadow: 0 4vh 2vh -4vh gray;
    width: 100%;
}

.header .logo {
    margin-left: 17px;
}

.header .nav-links {
    width: 70%;
    margin: 0 1vw 0 auto;
}

.header .nav-links ul {
    width: 100%;
    justify-content: space-around;
}

.nav-links ul li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 650;
    list-style: none;
    display: inline-block;
    padding: 24px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.nav-links ul li a:hover,
.nav-links ul li a#active {
    color: #28B463;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

#bills,
#result-bills {
    display: none;
}

.main {
    margin-top: 2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 2vh 2vw;
    margin: auto;
    width: 40vw;
}

.main_top {
    display: flex;
    font-weight: 700;
    margin-bottom: 1vh;
    cursor: pointer;
}

.main_top div.active {
    position: relative;
}

.main_top div.active::after {
    content: '';
    position: absolute;
    width: 86%;
    transform: scaleX(1);
    height: 3px;
    max-height: 0.3vh;
    bottom: 0;
    left: 0;
    background-color: #28B463;
}

.main_top div span:first-child {
    margin-right: 4vw;
    margin-bottom: 1vh;
}

.main_content {
    width: 100%;
}


/* Tax Calculator Styles */

.main_content .main_content_gross span {
    font-weight: 700;
    font-size: 18px;
}

.main_content .main_content_gross div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main_content .main_content_gross div span {
    background-color: #D0D3D4;
    border-radius: 10% 0 10% 0;
    padding: 1vh 0.8vw;
    text-transform: uppercase;
    font-weight: 700;
}

.main_content .main_content_gross div input {
    flex: 1;
    width: 100%;
    border: none;
    background-color: #EBEDEF;
    padding: 0 0.5vw;
    font-size: 17px;
}

.main_content .main_content_gross div input:focus {
    outline: none;
}

.main_content .main_content_gross div button {
    background-color: #28B463;
    border: none;
    border-radius: 0.5vh;
    padding: 1vh 0.5vw;
    cursor: pointer;
}

.main_content .main_content_gross div button:focus {
    outline: none;
}

.main_content .main_content_gross div button span {
    color: #fff;
    background-color: transparent;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
}

.main_content_result {
    background-color: #EBEDEF;
    padding: 1vh 1vw;
    margin-top: 1vh;
}

.main_content_result .main_content_result_tax {
    font-size: 18px;
    font-weight: 700;
}

.main_content_result .main_content_result_tax div {
    margin-top: 2vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_content_result .main_content_result_tax div:nth-child(9) {
    border-top: 3px solid #fff;
    margin-top: 1vh;
    padding: 2vh 0;
}

.main_content_result .main_content_result_tax div span:last-child {
    text-transform: uppercase;
    margin-right: 3vw;
}

.main_content_result .main_content_result_tax .main_content_result_footer {
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-right: -2vw;
}

.main_content_result .main_content_result_tax .main_content_result_footer span {
    color: #38ACEC;
    font-weight: 500;
    text-transform: lowercase !important;
}


/* Bill Manger Styles */

.main_content .main_content_bills span {
    font-weight: 700;
    font-size: 18px;
}

.main_content .main_content_bills div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main_content .main_content_bills div span {
    background-color: #D0D3D4;
    border-radius: 10% 0 10% 0;
    padding: 1vh 1vw;
    text-transform: uppercase;
    font-weight: 700;
}

.main_content .main_content_bills div input {
    flex: 1;
    width: 100%;
    border: none;
    background-color: #EBEDEF;
    padding: 0 0.5vw;
    font-size: 17px;
}

.main_content .main_content_bills div input:focus {
    outline: none;
}

.main_content .main_content_bills div button {
    background-color: #28B463;
    border: none;
    border-radius: 0.5vh;
    padding: 1vh 0.5vw;
    cursor: pointer;
}

.main_content .main_content_bills div button:focus {
    outline: none;
}

.main_content .main_content_bills div button span {
    color: #fff;
    background-color: transparent;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
}

.main_content_result .main_content_result_bills {
    position: relative;
    font-size: 18px;
    font-weight: 700;
}

.main_content_result .main_content_result_bills #result-bill {
    margin-top: 3vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_content_result .main_content_result_bills #result-bill div {
    width: 50%;
    margin-left: auto;
}

.main_content_result .main_content_result_bills #result-bill:first-child {
    opacity: 0.4;
}

.main_content_result .main_content_result_bills #result-bill div input {
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid gray;
    padding: 0.5vh 1vw;
    margin-left: 0.3vw;
    width: 40%;
}

.main_content_result .main_content_result_bills #result-bill div input:focus {
    outline: none;
}

.main_content_result .main_content_result_bills #result-button {
    width: fit-content;
    margin-left: auto;
    margin-top: 3vh;
}

.main_content_result .main_content_result_bills #result-button button {
    background-color: #28B463;
    border: none;
    border-radius: 0.5vh;
    padding: 1vh 1vw;
    cursor: pointer;
}

.main_content_result .main_content_result_bills #result-button button {
    outline: none;
}

.main_content_result .main_content_result_bills #result-button button span {
    color: #fff;
    background-color: transparent;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
}

.main_content_result .main_content_result_tax div span:last-child {
    text-transform: uppercase;
    margin-right: 3vw;
}

.main_content_result .main_content_result_tax .main_content_result_footer {
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-right: -2vw;
}

.main_content_result .main_content_result_tax .main_content_result_footer span {
    color: #38ACEC;
    font-weight: 500;
    text-transform: lowercase !important;
}

.modal {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    opacity: .96;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5 ease-in-out;
}

.modal.hide {
    transform: scaleY(0);
}

.modal.show {
    transform: scaleY(1);
}

.modal div {
    display: flex;
    flex-direction: column;
    border-radius: 1vw;
    width: 30vw;
    padding: 2vh 2vw;
    margin: 16vh auto;
}

.modal div input {
    font-size: 16px;
    padding: 1vh 1vw;
    width: 94%;
    margin-top: 0.2vh;
    margin-bottom: 1vh;
    background: none;
    border: none;
    border-bottom: 2px solid gray;
    text-align: center;
}

.modal div input:focus {
    outline: none;
}

.modal div span {
    font-size: 18px;
    font-weight: 700;
    padding: 1vh 1vw;
    width: 100%;
}

.modal div button {
    width: 100%;
    color: #fff;
    border: none;
    background-color: #28B463;
    border-radius: 0.5vw;
    font-size: 15px;
    padding: 1vh 1vw;
    margin-top: 2vh;
}

@media screen and (max-width: 1024px) {
    .main {
        width: 70vw;
    }
}

@media screen and (max-width: 625px) {
    .main {
        width: 96vw;
        font-size: 19px;
    }
    .main_content .main_content_gross div span {
        padding: 1vh 2.5vw;
        font-size: 16px;
    }
    .main_content .main_content_gross div input {
        padding: 0 1.5vw;
        font-size: 16px;
    }
    .main_content .main_content_gross div button span {
        font-size: 15px;
    }
    .main_content_result {
        padding: 0.5vh 2.5vw;
    }
    .main_content_result .main_content_result_tax {
        font-size: 17px;
    }
    .main_content_result .main_content_result_tax div:nth-child(9) {
        border-top: 3px solid #fff;
        margin-top: 1vh;
        padding: 2vh 0;
    }
    /* Bill Manger Styles */
    .main_content .main_content_bills span {
        font-size: 16px;
    }
    .main_content .main_content_bills div span {
        padding: 1vh 2.5vw;
    }
    .main_content .main_content_bills div input {
        padding: 0 1.5vw;
        font-size: 16px;
    }
    .main_content .main_content_bills div button span {
        font-size: 15px;
    }
    .main_content_result .main_content_result_bills {
        font-size: 16px;
    }
    .main_content_result .main_content_result_bills #result-bill div input {
        padding: 0.5vh 1.5vw;
        width: 60%;
    }
    .main_content_result .main_content_result_bills #result-button {
        width: fit-content;
        margin-left: auto;
        margin-top: 3vh;
    }
}