/* * {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
} */
/* 
nav {
    position: sticky;
    top: 0;
    padding-left: 1rem !important;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    align-items: center;
    /* z-index: 1020; */
    /* border-bottom: 2px solid rgb(149,149,149); */
    /* filter: blur(0px);
    backdrop-filter: blur(17px); */
/* } */

/* .logo {
    width:150px;
    height: 31.5px;
} */
/* 
.links {
    margin: 0px 0px 0px 450px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 550;
}

#t1 {
    background-color: #F5F5F5;
}

a:link {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
    margin: 0px 20px 0px 20px;
  }
  
  a:visited {
    color: rgb(149,149,149);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #00A86B;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: #00A86B;
    background-color: transparent;
    text-decoration: underline;
  } */ */

  footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    margin: 5px;
    background-color: #E5E4E2;
    text-align: center;
}

  .foot {
    margin-top: 0px;
    margin-bottom: 0px;
  }

/* 
  tr.topics {
    background-color: #E5E4E2;
  }


  .piechart {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg, 
        lightblue 0 235deg, 
        orange 0);
}

.main {
    margin-left: 500px;
    width: 300px;
} */

